TestPlugin/TestPlugin-module/Schemas/MapperInput.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1481108082428" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1481108082428">
  <xsd:complexType name="MapperInput">
    <xsd:sequence>
      <xsd:element name="data" type="xsd:string"/>
            <xsd:element name="destination" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MapperInput" tibex:source="bw.generalactivities.mapper" type="tns:MapperInput"/>
</xsd:schema>
