TestPlugin/TestPlugin-module/Schemas/SOAP_StarterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.fastconnect.com/schema/1482143113890" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.fastconnect.com/schema/1482143113890">
  <element name="operationRequest">
    <complexType>
      <sequence>
        <element name="in" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="operationResponse">
    <complexType>
      <sequence>
        <element name="out" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>
