coreCommon/Schemas/ReplyOutput.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.fastconnect.com/namespaces/tns/1481108983846" xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.fastconnect.com/namespaces/tns/1481108983846" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="msgBody" type="xsd:string"/>
        <xsd:element name="msgId" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
