TestPlugin/TestPlugin-module/Service Descriptors/Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="www.fastconnect.org/testPugin" xmlns:ns0="http://www.fastconnect.com/schema/1482143113890" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="www.fastconnect.org/testPugin">
  <wsdl:types>
    <xsd:schema xmlns:tns="http://www.fastconnect.com/schema/1482143113890" elementFormDefault="unqualified" targetNamespace="http://www.fastconnect.com/schema/1482143113890">
      <xsd:element name="operationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="operationRequest">
    <wsdl:part element="ns0:operationRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operationResponse">
    <wsdl:part element="ns0:operationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="operation">
      <wsdl:input message="ns:operationRequest" name="operationInput"/>
      <wsdl:output message="ns:operationResponse" name="operationOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapActionServiceBinding" type="ns:Service">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="operation">
      <soap:operation soapAction="operation" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getTest">
    <wsdl:port binding="ns:SoapActionServiceBinding" name="getTestSOAP">
      <soap:address location="http://localhost:8088/SOAPServiceBinding/getTest/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
